[run]
branch = False

omit =
    # omit the following directory
    */pbr/*
    */site-packages/*
    /home/travis/virtualenv/*
    *.eggs/*
    */distutils/*

    # omit the following file
    PyFunceble/config.py
    PyFunceble/production.py

[report]
# This should be False one we move into production
skip_covered = True

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:


ignore_errors = True

[html]
directory = coverage_html_report
