[run]
branch = False

omit =
    # omit the following directory
    */pbr/*
    */site-packages/*
    /home/travis/virtualenv/*
    *.eggs/*
    */distutils/*

    # omit the following file
    PyFunceble/dataset/mariadb_base.py
    PyFunceble/dataset/autocontinue/mariadb.py
    PyFunceble/dataset/autocontinue/mysql.py
    PyFunceble/dataset/inactive/mariadb.py
    PyFunceble/dataset/inactive/mysql.py
    PyFunceble/dataset/whois/mariadb.py
    PyFunceble/dataset/whois/mysql.py

    PyFunceble/database/*

    PyFunceble/cli/*

[report]
# This should be False one we move into production
skip_covered = False

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Never cover __init__
    def __init__

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

    # Don't complain for those blocks
    PyFunceble\.storage\.CONFIGURATION\.cli_testing\.db_type == "mariadb"
    PyFunceble\.storage\.CONFIGURATION\.cli_testing\.db_type == "mysql"

    # Don't complain about those.
    to_json\(
    _mysql\(
    _mariadb\(

    PyFunceble\.facility\.Logger\.

    # Manual handling of imports.
    except\sModuleNotFoundError\:
    except\sImportError:


ignore_errors = True
fail_under = 70

[html]
directory = coverage_html_report
