graft PyFunceble
global-exclude __pycache__
global-exclude *.py[co]
include LICENSE
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include CONTRIBUTORS.md
include requirements*.txt
include version.yaml