recursive-include PyFunceble *.py
recursive-include PyFunceble/data *
recursive-include docs *.rst Makefile *.bat *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
include LICENSE
include CODE_OF_CONDUCT.rst
include CONTRIBUTING.rst
include requirements.txt
include .PyFunceble_production.yaml
include .coveragerc
include version.yaml
include iana-domains-db.json
include dir_structure_production.json
include public-suffix.json