# Mkdocs
mkdocs~=1.5
mkdocstrings[python]~=0.26
mkdocs-material~=9.5
mkdocs-git-revision-date-localized-plugin~=1.2
mkdocs-gen-files~=0.5
mkdocs-literate-nav~=0.6
mkdocs-section-index~=0.3
mkdocs-git-authors-plugin~=0.9
mkdocs-macros-plugin~=1.2
pymdown-extensions~=10.9
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability