alembic
colorama
cryptography>=3.3.2
dnspython[DOH]>=2.0.0
domain2idna>=1.12.0
inflection
packaging
PyMySQL
python-box[all]<6
python-dotenv
PyYAML
requests[socks]<3
setuptools
shtab
SQLAlchemy>=1.3.20