alabaster<0.8,>=0.7
sphinx>=3.4.3
sphinx_rtd_theme
Pygments>=2.0

# Mkdocs
mkdocs~=1.5
mkdocstrings[python]
mkdocs-material~=9.5.2
mkdocs-git-revision-date-localized-plugin
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
mkdocs-git-authors-plugin
mkdocs-macros-plugin
pymdown-extensions

# Snyk
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
